.InputSubmit
{
    position: relative;
}

.InputSubmit p
{
    font-weight: 700;

    text-align: center;
    text-transform: uppercase;
}

.InputSubmit button
{
    position: absolute;
    top: 28px;
    right: 3px;

    box-sizing: border-box;
    padding: 8px 18px;

    cursor: pointer;
    transition: all .14s ease;

    border: none;
    border-radius: 2px;
    background: #ffd516;
}

.InputSubmit button:hover
{
    color: #fff;
    background: #000;
}

.InputSubmit input
{
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    margin: 10px auto;

    text-align: center;

    border: 1px solid #ededed;
    border-radius: 2px;
}
